@model Controle_de_Estoque.Models.Produto

@{
    ViewData["Title"] = "Detalhes";
    Dictionary<DateTime, string> listain = (Dictionary<DateTime, string>)ViewBag.motivoin;
    Dictionary<DateTime, string> listaout = (Dictionary<DateTime, string>)ViewBag.motivoout;
}

<h1>Detalhes do Produto</h1>

<div>
    @*<h4>Usuario</h4>*@
    <hr />
    <dl class="row">
        @Html.HiddenFor(m => m.IdProduto)
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeProduto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeProduto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoProduto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DescricaoProduto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria.NomeCategoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Categoria.NomeCategoria)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Caixa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Caixa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QtdeProduto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QtdeProduto)
        </dd>
    </dl>
    <br />
    <h5>Histórico de Entradas</h5>

    <table class="table table-striped">
        <thead class="table-success">
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.Entrada.dataEntrada)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Entrada.motivoEntrada)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in listain)
            {
                <tr>
                    <td>@item.Key</td>
                    <td>@item.Value</td>

                </tr>
            }
        </tbody>
    </table>
    <br />
    <h5>Histórico de Saídas</h5>
    <table class="table table-striped">
        <thead class="table-danger">
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.Saida.dataSaida)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Saida.motivoSaida)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in listaout)
            {
                <tr>
                    <td>@item.Key</td>
                    <td>@item.Value</td>

                </tr>
            }
        </tbody>
    </table>


</div>
<div>
    <button type="button" class="btn btn-warning" onclick="location.href='@Url.Action("Index", "Produtos")'">Voltar</button>
</div>
