@model Controle_de_Estoque.Models.Produto
@{
    ViewBag.Title = "Adicionar QTDE do item";
}

<h1>Adicionar QTDE do item</h1>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.HiddenFor(m => m.IdProduto)

        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(m => m.NomeProduto)
            </dt>
            <dd class="col-sm-10">
                @Html.TextBoxFor(m => m.NomeProduto, new { @disabled = "disabled" })
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(m => m.DescricaoProduto)
            </dt>
            <dd class="col-sm-10">
                @Html.TextBoxFor(m => m.DescricaoProduto, new { @disabled = "disabled" })
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(m => m.Categoria.NomeCategoria)
            </dt>
            <dd class="col-sm-10">
                @Html.TextBoxFor(m => m.Categoria.NomeCategoria, new { @disabled = "disabled" })
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(m => m.QtdeProduto)
            </dt>
            <dd class="col-sm-10">
                @Html.TextBoxFor(m => m.QtdeProduto)
            </dd>
        </dl>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar alterações" class="btn btn-success" /> |
                @*@Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-danger" }) |*@
                <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Index", "Produtos")'">Cancelar</button>
            </div>
        </div>
    </div>
}
