@model IEnumerable<Controle_de_Estoque.Models.Produto>
@{
    ViewBag.Title = "Index";
}
<h2>Estoque Atual</h2>
<p>
    @*@Html.ActionLink("Incluir Novo Produto", "Create", "Produtos", new { @class = "btn btn-success" })*@
    <div class="container">
        <div class="row">
            <div class="col align-self-start">
                <form asp-controller="Produtos" asp-action="Index">

                    Pesquisar Produto: <input type="text" name="pesquisar" />
                    <input type="submit" value="Pesquisar" />

                </form>
            </div>
            <div class="col align-self-center">
                @*DIV Center*@
                @*One of three columns*@
            </div>
            <div class="col align-self-end">
                @*DIV Direita*@
                <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Create", "Produtos")'">
                    Incluir Novo Item

                </button>
            </div>
        </div>
    </div>


</p>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.NomeProduto)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.QtdeProduto)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Categoria.NomeCategoria)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.DescricaoProduto)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Caixa)</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.NomeProduto)</td>
                <td>@Html.DisplayFor(modelItem => item.QtdeProduto)</td>
                <td>@Html.DisplayFor(modelItem => item.Categoria.NomeCategoria)</td>
                <td>@Html.DisplayFor(modelItem => item.DescricaoProduto, new { @maxlength = "8" })</td>
                <td>@Html.DisplayFor(modelItem => item.Caixa)</td>
                <td align="right">

                    <button type="button" class="btn btn-secondary btn-sm" onclick="location.href='@Url.Action("Edit", "Produtos", new { id = item.IdProduto })'">Entrada</button>   |
                    <button type="button" class="btn btn-secondary btn-sm" onclick="location.href='@Url.Action("Saida", "Produtos", new { id = item.IdProduto })'">Saída</button>   |
                    <button type="button" class="btn btn-secondary btn-sm" onclick="location.href='@Url.Action("Details", "Produtos", new { id = item.IdProduto })'">Detalhes</button>   |
                    <button type="button" class="btn btn-danger btn-sm" onclick="location.href='@Url.Action("Delete", "Produtos", new { id = item.IdProduto })'">Excluir</button>

                </td>
            </tr>
        }
    </tbody>
</table>





