@model IEnumerable<Controle_de_Estoque.Models.Produto>
@*@model Controle_de_Estoque.Models.ProdutoViewModel*@
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Estoque atual Vornit</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
<br />

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Categoria.NomeCategoria)</th>
        <th>@Html.DisplayNameFor(model => model.NomeProduto) </th>
        <th>@Html.DisplayNameFor(model => model.DescricaoProduto)</th>
        <th>@Html.DisplayNameFor(model => model.QtdeProduto)</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@ViewBag.Categorias</td>
            <td>@Html.DisplayFor(modelItem => item.Categoria.NomeCategoria)</td>
            <td>@Html.DisplayFor(modelItem => item.NomeProduto)</td>
            <td>@Html.DisplayFor(modelItem => item.DescricaoProduto)</td>
            <td>@Html.DisplayFor(modelItem => item.QtdeProduto)</td>
            @*<td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdProduto }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.IdProduto }) |
                @Html.ActionLink("Deletar", "Delete", new { id = item.IdProduto })
            </td>*@
        </tr>
    }
</table>
